.dataElement {
		border-style: dotted;
		border-width: 1px;


	}
.activityElement {
	margin-right: auto;
	margin-left: auto;

}

.activityTest{
	/*border: solid 1px;*/
	text-align: center;
	margin-top: 50 pt;
	/*cursor: pointer;*/
	vertical-align: middle;
	/*width: 20%;*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.activityTest:hover{
	background-color: lightgrey;
}
.activity-btn{
	margin: 30px;
}
.activityTest:hover span{
	/*display: auto;*/
	visibility: visible;
}

.meetingContent{
	margin-top: 70px;
	text-align: center;
}
.Center{
	margin-right: auto;
	margin-left: auto;
}
