
.weekContent {
	/*overflow: scroll;*/
	/*height:700px;*/
}
#weektable {
	background-color: white;
	border: 1px solid black;
	
}

.dataElement {
	font-weight: bold;
	text-align: center;
	border-left:thin solid;
	width:200px;
}

