<div id="edit-activity-window" class="well" ng-show="activityCtrlGlobal.showActivityPopUpEdit">
	<div class="col-sm-5 edit-activity-window-editor">
		<div class="form-group">
			<label>Activity Name:</label>
			<input type:"text" class"form-control" ng-model="activityCtrlGlobal.selectedActivityName" >
		</div>
		<div class="form-group">
			<label>Length in minutes:</label>
			<input type="number" name="number" ng-model="activityCtrlGlobal.selectedActivityLength">
		</div>
		<div class="form-group">
			<label>Description:</label>
			<textarea rows="8" ng-model="activityCtrlGlobal.selectedActivityDescription"></textarea>
		</div>
		<button class="btn btn-info" ng-click="activityCtrlGlobal.showActivityPopUpEdit=false">Cancel</button>
		<button class="btn btn-info" ng-click="changeActivity()">Done</button>
	</div>
</div>