<div id="edit-activity-window" class="well" ng-show="meeting.showActivityInfo">
	<div class="col-sm-5 edit-activity-window-editor">
		<p><label>Activity Name:</label>
		{{meeting.selectedActivity.getName()}}</p>
		<p><label>Length in minutes:</label><b></b>
		{{meeting.selectedActivity.getLength()}}</p>
		<p><label>Activity Type:</label>
		{{meeting.selectedActivity.getType()}}</p>
		<p><label>Description:</label>
		{{meeting.selectedActivity.getDescription()}}</p>
	</div>
		<button class="btn btn-info" ng-click="meeting.showActivityInfo=false; meeting.showActivityPopUpEdit=true">Edit</button>
		<button class="btn btn-info" ng-click="meeting.showActivityInfo=false">Done</button>
	</div>
</div>