<!-- <ng-include src="'partials/activityEditor.html'" ng-controler="meetingEditorCtrl"></ng-include> -->
<!-- <ng-include src="'partials/meetingEditorPopUp.html'" ng-controler="meetingEditorCtrl"></ng-include> -->
	<div class="meetingAgendaEditor col-sm-9">

		<div class="col-sm-12 editor-head">
			<h1>A Never Existed Day</h1>
		</div>
		
		<div class="col-sm-3">
		</div>
		<div class="middle-div col-sm-6">
			
			<div class="meeting-schedule">
				<div class="time">
					<div ng-repeat="hour in hourList">

						<p class="hour">{{hour}}</p>
				 		<hr class="time-hr">
					</div>
				</div>
				<div  style="height: 16%"></div>
				<div class="group-activity activity" style="height: 40%">A kinda meeting</div>

				<div class="activity" style="height: 12%"></div>
				<div class="presentation activity" style="height: 12%">Pres</div>

			</div><!-- meeting-schedule end -->
		</div><!-- middle-div end -->
		<div class="col-sm-3 right-sidebar">

	</div><!-- meetingAgendaEditor end -->
	<div ng-init="days = ['Mo','Tu','We','th','Fr','Sa','Su']">	
	<div ng-init="days = ['Mo','Tu','We','th','Fr','Sa','Su']">



