<style type="text/css">
	#dailyView {
		left:240px;
		background-color: yellow;
	
	}
	#dailyTable {
		top: 0px; left: 0px; right: 0px; bottom: 0;
		background-color: lightblue;
		border: 1px solid black;
		overflow: scroll;
	}

	.dataElement {
		font-weight: bold;
		text-align: center;
		border-left:thin solid;
	}


</style>

		
		<table id="weektable">
			<tbody>
			<tr>
				<th style="width:100px">
				time
					<div style="height:50px" ng-repeat="hour in hourList">
						<hr class="time-hr">
						<p>{{ hour }}</p>
										

				</th>
			
				<th class="dataElement" id="  {{ y }}  " style="width:150px" ng-repeat="y in days">
					<a href="#/FB-like.jpg">{{ y }}</a>
					<div id="{{ y }} {{ hour }}"style="height:50px" ng-repeat="hour in hourList">
						<hr class="time-hr">
					</div>
					
				</th>
				
			</tr>
		</tbody>
		</table>
		
		
		<div ng-init="days = ['Mo','Tu','We','th','Fr','Sa','Su']">
		<div ng-init="times = ['08.00','09.00','10.00','11.00','12.00','13.00','14.00','15.00','16.00','17.00','18.00','19.00','20.00','21.00']">		


		</div>
		</div>


