hej
{{meetingCtrlGlobal.selectedDay.getName()}}


<div div ng-controller="activityCtrl">
	<ng-include src="'partials/activityPopUpNew.html'"></ng-include>
	<button class="btn activity-btn" ng-click="activityCtrlGlobal.showActivityPopUpNew=true;">
		Add Activity
	</button>

	<div class="floatleft col-sm-9">
	    <ul ui-sortable="sortableOptions" ng-model="meetingCtrlGlobal.selectedActivities" class="list">
	      <li ng-repeat="activity in meetingCtrlGlobal.selectedActivities" class="item" id="blocks">
	      	<div class="well activityTest" style="height:{{activity.getLength() * 3}}px;">
	      	<div class="col-sm-1">
					<span class="glyphicon glyphicon-remove" style="visibility:" ng-click="removeActivity(activity, meetingCtrlGlobal.selectedDay)"></span>
				</div>
				<div class="col-sm-9">
					<div>
					{{activity.getName()}}
					</div>
				</div>
				<div class="col-sm-1">
					<span class="glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="setSelectedActivity(activity); activityCtrlGlobal.showActivityInfo=true"></span>
				</div>
	      	</div>

	      </li>
	    </ul>
	</div>
</div>