
  <div id="header">
        
        <div class="logo col-sm-4">
            <a title="To Homepage" href="#/start-log-in.html">
            <img alt="Header-logo" class="en-noborder" style="max-width:702px;max-height:129px" src="/Pictures/header-logo1.png"></a>
        </div>
       <!-- <div class="loginstuff">
          <a href="" ng-click="">Log in</a> / 
          <a href="" ng-click="">Registration</a>
          
          <form method="post" action="index.html">
                <p><input ng-model="user.email" type="email" name="login" value="" placeholder="Username or Email"></p>
                <p><input ng-model="user.password" type="password" name="password" value="" placeholder="Password"></p>
                <button type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">SignIn</button>
          
            </form> 
    </div>
</div> -->
