
    <div id="header">
        <div class="logo col-sm-4">
            <a title="To Homepage" href="#/start-log-in.html">
            <img alt="Header-logo" class="en-noborder" style="max-width:702px;max-height:129px" src="/Pictures/header-logo1.png"></a>
        </div>
        <div class="loginstuff">
          <a href="" ng-click="">Log in</a> / 
          <a href="" ng-click="">Registration</a>
          
          <form method="post" action="index.html">
                <p><input type="text" name="login" value="" placeholder="Username or Email"></p>
                <p><input type="password" name="password" value="" placeholder="Password"></p>
                <p class="submit"><input type="submit" name="commit" value="Login"></p>
          
            </form> 
        </div>         
    </div>
