
<div class="col-sm-12">
	<div class="col-md-4"></div>
	<div class="col-md-4" id="Menu">
	  <ul class="nav nav-pills " style="width:100%">
	    <li><a href="#/weekView">Weekly view</a></li>
	    <li><a href="#/dailyView">Daily view</a></li>        
	<!--                 <li><a href="#">Annual</a></li>
	    <li><a href="#">Advice</a></li> -->
	    <li><a href="#/testMeetingDrawer">testMeetingDrawer</a></li>
	    <li ><a href="#/meetingAgendaEditor" ng-click="meeting.showMeetingEditorPopUp=true; hej()">New meeting</a></li>
	  </ul>
	</div>
	<div class="col-md-4"></div>
	    <!--<ng-include src="'partials/Calender.html'"></ng-include>-->
	<!-- sideBar end -->
</div>

<style type="text/css">
	#Menu {
		/*background-color: lightgrey;*/
		width: 100%;
		/*border: dotted;*/
		/*border-width: 1px;*/
	}

</style>
