<!-- testPrint -->

	<div class="testData">
		<button ng-click="createTestData()">Create test data</button>
		<h1>Test Data</h1>
		

		<div ng-repeat="day in days" class="col-sm-4">
			<h3>Name of the meeting: {{day.name}}</h3>
			<button ng-click="removeDay(day)">
				remove meeting
			</button>
			<h3>Total length of the meeting: {{day.getTotalLength()}}</h3>
			<h3>Start time: {{day.getStart()}}</h3>
			<h3>End time: {{day.getEnd()}}</h3>
			<h3>Day: {{day.weekDay}}</h3>
			<ul ng-repeat="activity in day._activities">
				<h4>Activity name: {{activity.getName()}}</h4>
				<button ng-click="removeActivity(activity, day)">
					remove activity
				</button>
				<li>
					Length: {{activity.getLength()}} min
				</li>
				<li>
					Type: {{activity.getType()}}
				</li>
				<li>
					Description: 
					{{activity.getDescription()}}
				</li>
			</ul>
			
		</div>
	</div>
<!-- testPrint end -->