<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>

<style type="text/css">
	#calTable {
		background-color: yellow;

	}


	#calendarView {
		position: absolute;
		left: 178px; top: 100px; bottom: 0; right: 0;
		background-color: lightblue;
	
	}
	tr {
		height: 25%; font-size: 75px; width: 75%;

	}
	#days {
		background-color: lightblue;
	}
	table {
		position: absolute; top: 20; bottom: 50; left: 150; right: 50; width: 72%;
	}

	.off {
		background-color: grey;
	}

</style>

<body>
	<h1>View2</h1>

	<div class="container" id="calendarView">
		<table>
    		<caption>
    	<span class="prev"><a href="index.html">&larr;</a></span>
        <span class="next"><a href="index.html">&rarr;</a></span>
        	January 2012
      </caption>
      <thead>
        <tr id="days">
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="off"><a href="index.html">26</a></td>
          <td class="off"><a href="index.html">27</a></td>
          <td class="off"><a href="index.html">28</a></td>
          <td class="off"><a href="index.html">29</a></td>
          <td class="off"><a href="index.html">30</a></td>
          <td class="off"><a href="index.html">31</a></td>
          <td><a href="index.html">1</a></td>
        </tr>
        <tr>
          <td><a href="index.html">2</a></td>
          <td><a href="index.html">3</a></td>
          <td><a href="index.html">4</a></td>
          <td><a href="index.html">5</a></td>
          <td><a href="index.html">6</a></td>
          <td><a href="index.html">7</a></td>
          <td><a href="index.html">8</a></td>
        </tr>
        <tr>
          <td><a href="index.html">9</a></td>
          <td><a href="index.html">10</a></td>
          <td><a href="index.html">11</a></td>
          <td><a href="index.html">12</a></td>
          <td><a href="index.html">13</a></td>
          <td><a href="index.html">14</a></td>
          <td><a href="index.html">15</a></td>
        </tr>
        <tr>
          <td><a href="index.html">16</a></td>
          <td><a href="index.html">17</a></td>
          <td><a href="index.html">18</a></td>
          <td><a href="index.html">19</a></td>
          <td><a href="index.html">20</a></td>
          <td><a href="index.html">21</a></td>
          <td><a href="index.html">22</a></td>
        </tr>
        <tr>
          <td><a href="index.html">23</a></td>
          <td><a href="index.html">24</a></td>
          <td><a href="index.html">25</a></td>
          <td><a href="index.html">26</a></td>
          <td><a href="index.html">27</a></td>
          <td class="active"><a href="index.html">28</a></td>
          <td><a href="index.html">29</a></td>
        </tr>
        <tr>
          <td><a href="index.html">30</a></td>
          <td><a href="index.html">31</a></td>
          <td class="off"><a href="index.html">1</a></td>
          <td class="off"><a href="index.html">2</a></td>
          <td class="off"><a href="index.html">3</a></td>
          <td class="off"><a href="index.html">4</a></td>
          <td class="off"><a href="index.html">5</a></td>
        </tr>
      </tbody>
    </table>
	
  </div>
	
	<a href="#/view1" class="btn btn-primary">Take me to view1</a>
	<a href="popupex.html" onclick="return popitup('/Users/Henning/Desktop/Projekt/project/app/partials/view3.html')">
		Link to popup
	</a>
				

				<script type="text/javascript">
					function popitup(url) {
						newwindow=window.open(url,'name','height=500,width=400');
						if (window.focus) {newwindow.focus()}
							return false;
						}

				</script>
</body>
</html>
