<!-- <ng-include src="'partials/meetingEditorPopUp.html'"></ng-include> -->

<style type="text/css">
	.dataElement {
		border-style: dotted;
		border-width: 1px;


	}
	.dataElement:hover {
		background-color: lightblue;
	}
</style>
<!-- HEAD
	
<div class="weekContent" ng-controller="meetingEditorCtrl">
	<div id="containerAbove"> 
	
    </div>

======= -->

<div class="weekContent" ng-controller="weekViewCtrl">
<!-- >>>>>>> 9c898dc951b8179b76a2688b6fbb07c3c4566cb3 -->
	<table id="weektable">
		<tbody>
			<tr>
				<th style="width:100px">
					<p style="font-weight:bold;text-align:center;">Time</p>
				</th>
				<th style="width:100px" ng-repeat="y in days">
					<p style="font-weight:bold;text-align:center;">{{ y }}</p>
				</th>
			</tr>
			<tr style="height:50px" ng-repeat="hour in wholeHourList">
				<hr class="time-hr">
					<td>
						<p style="font-weight:bold;text-align:center;">{{ hour }}:00</p>
					</td>
									
					<td class="dataElement" id="{{ weekDay }}, {{ hour }}" ng-repeat="weekDay in days" ng-click="addNew();">
						 <!-- go('/meetingAgendaEditor'); -->
						<div ng-repeat="day in meeting.days | filter:{weekDay:weekDay} | filter:{startH:hour}:true" ng-click="setSelectedDay(day); go('/meeting');">{{day.name}}</div>
					</td>
					
					
			</tr>				
		</tbody>
	</table>
	<div ng-init="days = ['Mo','Tu','We','Th','Fr','Sa','Su']"></div>
</div> 

