<!-- <ng-include src="'partials/meetingEditorPopUp.html'"></ng-include> -->

<style type="text/css">
	.dataElement {
		border-style: dotted;
		border-width: 1px;


	}
	.dataElement:hover {
		background-color: lightblue;
	}



</style>


<div class="weekContent" ng-controller="weekViewCtrl">
	<table id="navTable" align="center">
		<tr id="navRow">
			<td ng-click="setDayList(-7)"><span class="glyphicon glyphicon-arrow-left btn" id="leftArrow"></span></td>
			<td ng-click="setDayList(7);"><span class="glyphicon glyphicon-arrow-right btn" id="rightArrow" ></span></td>
			<td> {{ month }}</td>
		</tr>
	</table>


	<table id="weektable">
		<tbody>
			<tr>
				<th style="width:100px">
					<p style="font-weight:bold;text-align:center;">Time</p>
				</th>
				<th style="width:100px" ng-repeat="weekday in days">
					<p style="font-weight:bold;text-align:center;">{{ weekday[0] }}</p>
					
					<p style="text-align:center;font-weight:none;">{{ weekday[1] }}{{weekday[2]}}</p>
	
				</th>
				
			</tr>
				
			<tr style="height:50px" ng-repeat="hour in wholeHourList">

				<hr class="time-hr">

					<td>
						<p style="font-weight:bold;text-align:center;">{{ hour }}:00</p>



					</td>
					<td style="position:relative" class="dataElement" id="{{ weekDay[0] }}, {{ hour }}" ng-repeat="weekDay in days" ng-click="addNew();">
						<!-- <div style="background-color:red; heihgt:200px; top:0; margin-top:300px" > 
					        öklhjbölihölkjölkj
	                    </div>	 -->
						 <!-- go('/meetingAgendaEditor'); -->
						 <div style="z-index:1; 	background-color:yellow; position:relativte; margin-top:50%" ng-if="hour===1" ng-click="setSelectedDay(day); go('/meeting');">

						 	fkfk</div>
						
						<div ng-repeat="day in meeting.days | filter:{weekDay:weekDay[0]} | filter:{startH:hour}:true" ng-click="setSelectedDay(day); go('/meeting');">{{day.name}}</div>
					</td>
					
					
			</tr>				
		</tbody>
	</table>
</div> 

