<!-- <ng-include src="'partials/meetingEditorPopUp.html'"></ng-include> -->

<style type="text/css">
	.dataElement {
		border-style: dotted;
		border-width: 1px;


	}
	.dataElement:hover {
		background-color: lightblue;
	}



</style>


<div class="weekContent" ng-controller="weekViewCtrl">
	<div ng-controller="meetingCtrl">
		<div id="navTable" align="center">
		<table>
			<tr id="navRow">
				<td ng-click="setdayList(-7)"><span class="glyphicon glyphicon-arrow-left btn" id="leftArrow"></span></td>
				<td ng-click="setdayList(7);"><span class="glyphicon glyphicon-arrow-right btn" id="rightArrow" ></span></td>
				<td> {{ month }}</td>
			</tr>
		</table>
	</div>
	<div id="weekTableHead" style="padding-right:25%; padding-left:25px; background-color:orange">
		<table id="weekDays">
			<tbody>
					<tr>
						<td style="width:200px">
							<p style="font-weight:bold;text-align:center;">Time</p>
						</td>
						<td style="width:200px" ng-repeat="weekday in days">
							<p style="font-weight:bold;text-align:center;">{{ weekday[0] }}</p>
							
							<p style="text-align:center;font-weight:none;">{{ weekday[1] }}{{weekday[2]}}</p>
			
						</td>
						
					</tr>
			</tbody>
		</table>
	</div>
	<hr class="time-hr">
	<div class="weekTableDiv">
		    </div>
        <div id="Krishna" style="position:absolute; opacity:0.9; z-index:-1 background-color:white; width:100%; height:100%">
		<table id="weektable">
			<tbody>

				<!-- <div class="Times" style="height:100%; width:25px; z-index:1" > -->
					<tr style="height:50px; padding-left:25px" ng-repeat="hour in wholeHourList">

						<td>
							<p style="font-weight:bold;text-align:center;">{{ hour }}:00</p>
						</td>
						<td style="position:relative" class="dataElement" id="{{ weekDay[0] }}, {{ hour }}" ng-repeat="weekDay in days" ng-click="addNew();">
								<!-- <div style="background-color:red; heihgt:200px; top:0; margin-top:300px" > 
							        öklhjbölihölkjölkj
			                    </div>	 -->
								 <!-- go('/meetingAgendaEditor'); -->
							 <div style="z-index:1; 	background-color:yellow; position:relativte;" ng-if="hour===1" ng-click="setSelectedDay(day); go('/meeting');">

							 	fkfk</div>
								
							<div ng-repeat="day in meetingCtrlGlobal.days | filter:{weekDay:weekDay[0]} | filter:{startH:hour}:true" ng-click="setSelectedDay(day); go('/meeting');">{{day.getName()}}</div>
						</td>
										
					</tr>	
				</div>			
			</tbody>
		</table>

    </div>
</div><!-- meetingCtrl end -->

</div> 

