html{
        height: 100%;
    }
    body{
        height: 100%;
    }

    #sideBar {
    /*position:absolute;*/
    height: 100%;
    float: left;
    /*left:0; top:100px; bottom: 0;*/
    width: 15%;
    background-color: #6FFECD;
    
    }
    #header {
        background-color: lightblue;
        /*position: absolute;*/
       /* left: 0; right: 0;
        top: 0px;*/
        height: 130px;
    }
    .logo{
        width: 10%;
        padding-left: 20px;

    }

    .loginstuff {
        float:right;
        padding-right: 15px;
    }

/*    #startView {
        position: absolute;
        left: 178px; right: 0; bottom: 0;
        top: 100px;
    }*/
    .datepicker{
        /*position: absolute;*/
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        left: 0;
        right: 0;
        /*bottom:0;*/


    }
    #bottomStuff{

        position: absolute;
        bottom: 10px; left: 0;
    }
/*    #topStuff {
        top: 10px; left: 0;
        position: absolute;
    }*/