<head>
    <title>Angular Horizontal Demo.</title>
    <!--styles -->
    <!-- <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css-only/css/bootstrap.min.css"> -->

    <!--scripts-->
</head>
<style type="text/css">
	.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}

.item {
/*	width: 200px;
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #EA8A8A;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;*/
	cursor: move;
}


.floatleft {
  float: left;
}

/*.clear {
  clear: both;
}*/

</style>


  <div class="floatleft">
    <ul ui-sortable="sortableOptions" ng-model="list" class="list">
      <li ng-repeat="item in list" class="item">
        {{item.text}}
      </li>
    </ul>
  </div>




<!-- containerPositioning.js -->
<!-- 
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <ul as-sortable="sortableOptions" ng-model="items">
                <li ng-repeat="item in items" as-sortable-item class="as-sortable-item activityTest well">
                    <div as-sortable-item-handle class="as-sortable-item-handle" style="height:50px">
                        <span data-ng-bind="item.name"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->

<!-- <div as-sortable="sortableOptions" ng-model="items">
	<div ng-repeat="item in items" as-sortable-item>
		<div as-sortable-item-handle>
			<span data-ng-bind="item.name"></span>
		</div>
	</div>
</div> -->


<!-- <ul data-as-sortable="board.dragControlListeners" data-ng-model="items">
   <li data-ng-repeat="item in items" data-as-sortable-item>
      <div data-as-sortable-item-handle>{{item.name}}</div>
   </li>
</ul> -->